html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.timer{
	background-color: green;
	display: grid;
	grid-template-columns: repeat(3, 5vmin 20vmin);
	gap: 2vmin;
	line-height: 20vmin;
	justify-content: center;
	justify-items: center;
	align-items: baseline;
}
