@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
	font-family: 'Rokkitt', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.timer{
	font-weight:700;
	margin-top: 20vmin;
	display: grid;
	grid-template-columns: repeat(8, 11vmin);
	-moz-box-pack: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	align-content: center;
}
.timer div{
}
.colon-container{
	display:grid;
	height:13vmin;
	grid-template-rows: repeat(2, 5vmin);
	gap: 1vmin;
	justify-content: center;
	align-items: center;
}
.colons{
	border-radius:.75vmin;
	background-color:black;
	width:3vmin;
	height:3vmin;
}
